# Application data
data/

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Package build artifacts
src/*.egg-info/
*.egg-info/

# Virtual environments
.venv/
venv/

# IDE
*.swp
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
